@font-face {
    font-family: 'Algeria';
    src: url('../assets/fonts/Algerian\ Regular.ttf') format('truetype'); 
  }
.hero-section {
    /* background-image: url('/src/assets/images/logo.jpg');  */
    background-size: cover;
    background-position: center;
    min-height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #f0f0f0; */
    background-image: url('/src/assets/images/bg.jpg');

  }
  
  .animated-text {
    font-family: 'Algeria', cursive;
    font-size: 3rem;
    color: #fff; 
  }
  
  .animated-text span {
    display: inline-block;
    margin: 0 0.1em;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .letter {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    font-weight: 700;
    transition: fadeIn 2s ease-in-out;
    
  }
  
  .letter:hover {
    color: #0dd4d4;
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(5, 5, 5, 0.5);
  }
  
  .lead {
    font-size: 1.2rem; 
  }
  .phone{
    margin-top: -10px;
    margin-left: -20px;
  }
  .me-2{
    margin-top: -11px;
  }
