.services-section {
    padding: 5rem 0;
    text-align: center;
    /* background-color: #f0f0f0;  */
    background-image: url('/src/assets/images/bg1.avif');
  }
  
  .section-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333; 
  }
  
  .section-description {
    color: #2e2d2d;
    margin-bottom: 4rem;
    font-size: 1.5rem;
  }
  
  .service-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .service-card i {
    font-size: 2.5rem; /* Adjust icon size */
    color: #555;
    margin-bottom: 20px;
  }
  
  .service-card h3 {
    margin-bottom: 15px;
    color: #333; /* Adjust text color */
  }